:root {
    /* основной цвет текста */
    --primary-color: #ffffff;
    --big-title-color: #323232;
    --title-color: #000000;
    --description-color: #999999;
    --accent-color: #4985FF;

}

body {
    font-family: 'Montserrat', serif;
}

/* HEADER SECTION */

.header {
    /* черный цвет пока фото с background не подтянули */
    background-color: var(--title-color);
    border-bottom: 1px solid #A1A1A1;
}

.menu {
    list-style: none;
}

.menu a {
    font-weight: 500;
    font-style: 16px;
    line-height: 1.25;
    text-decoration: none;
    color: var(--primary-color);
}

.menu a:focus {
    border: solid 1px;
}

/* HERO SECTION */

.hero {
    /* background-image: url(https://gts-work.github.io/blended2/images/hero.jpg); */
    background: url(/blended2/images/hero.jpg) no-repeat center;
    background-size: cover;
}

.tagline {
    font-weight: 500;
    font-style: 16px;
    line-height: 1.22;
    text-align: center;
    color: var(--primary-color);
}

.hero-title {
    font-weight: 800;
    font-size: 48px;
    line-height: 1.34;
    text-align: center;
    color: var(--primary-color);
}
/* с кнопкой пошло что-то не так */

.our-projects {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.22;
    text-decoration: none;
    color: var(--primary-color);
    border: 1px solid var(--accent-color);
    border-radius: 50px;
}